.an{
    float:right;
    
}

a{
  margin:30px;
  text-decoration:none;
  color:black;
}

nav{
    position:fixed;
    top:0px;
    padding-top:10px;
    font-family:'Times New Roman';
    background-color: hwb(206 95% 3%);
    height:40px;
    width:100%;
}

#arc{
    margin:20px;
}
.image{
    margin-top:50px;
    height:550px;
    width:1300px;
}

.para{
    color:whitesmoke;
    position:absolute;
    top:270px;
    left:550px;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
}

mark{
    background-color: rgb(54, 56, 56);
    font-weight:bold;
    color:whitesmoke;
    padding:10px;
}

hr{
    color:azure;
}
#project{
    margin:10px;

}
.pro{
    font-size:10px;
    color:aliceblue;
    background-color:black;
    font-family:"roboto";
    position:absolute;
    padding:10px;
}
.p1{
    float:left;
    margin:10px;


}
.p6{
    float:left;
    margin:10px;
}
#about{
    margin:10px;

}
p{
    font-family:"roboto";

}
.a1{
    float:left;
    margin:5px;
    height:400px;
    width:300px;
}
.a2{
    float:left;
    margin:5px;
    height:400px;
    width:300px;
}
.a3{
    float:left;
    margin:5px;
    height:400px;
    width:300px;
}
.a4{
    float:left;
    margin:5px;
    height:400px;
    width:300px;
}
#contact{
    margin:20px;
    padding:10px;
}
input{
    width:1200px;
    height:30px;
    margin:10px;
    font-weight:bold;
}
button{
    height:30px;
    width:300px;
}
.foot{
    background-color:black ;
    color:white;
    padding:20px;
    text-align: center;
}
h2{
    font-style: normal;
    font-family: "roboto";
    margin:15px;
    margin-top: 20px;
}
.f{
    color:white;
}
.btn{
    background-color:black;
    color:white;
}